body {
  background-color: #EEE;
}
header {
  max-height: 80px;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 80px;
  margin: auto;
  background-color: rgb(51, 53, 54);
}
.logo1 {
  height: -webkit-fill-available;
}

.add {
  height: calc(100vh - 160px);
  padding-top: 20px;
  overflow: auto;
}
.add2 {
  height: calc(100vh - 216px); 
  padding-top: 13px;
}
.search input {
  margin-left: 15px;
  width: 250px;
  height: 32px;
  outline: none;
  padding-left: 10px;
  border: 1px solid #8795a2;
  border-radius: 3px;
}
.edit2 {
  height: calc(100vh - 216px);
}
.content {
  background-color: #EEE;
}
.alertadd {
  background-color: #EEE;
}
.container {
  background-color: #EEE;
  height: 100vh;
}
.lists {
  margin-bottom: -41px;
}
section h1.edits {
  margin-bottom: -13px;
  margin-top: 20px;
}

h1,
.titleAdd h1 {
  color: rgb(49, 48, 48);
}
.titleAdd {
  padding-top: 20px;
  padding-bottom: 20px;
}
.addForm {
  display: flex;
  justify-content: center;
  height: calc(100vh - 160px);
  overflow: auto;
}

.formAdd {
  width: 50%;
  padding: 20px;
}
.veiForm {
  display: flex;
  justify-content: center;
  height: calc(100vh - 160px);
  overflow: auto;
}
.formVei {
  width: 50%;
  padding: 20px;
}
.search {
  display: flex;
}
    
.btn-text-top {
  background-color: #f5f6fa;
  border: 1px solid rgba(255, 255, 255, .1);
  padding: 15px 50px 15px 30px;
  border-radius: 20px;
  width: 100%!important;
  height: 42px;
  font-weight: 300;
  color: #8795a2;
}
    
.btn-buscar-top {
  width: 20px!important;
  height: 22px;
  background: url(http://www.devmedia.com.br/imagens/2013/buscar_grey.png) no-repeat;
  cursor: pointer!important;
  border: none;
  transform: translateY(-50%);
  padding: 0;
  position: relative;
  top: -15px;
  left: 260px;
}







footer {
  background-color: rgb(51, 53, 54);
  margin-block-start: auto;
}