body {
  background-color: #EEE;
}
.add {
  height: calc(100vh - 160px);
}
.add2 {
  height: calc(100vh - 216px);
}
.edit2 {
  height: calc(100vh - 216px);
}
.content {
  height: calc(100vh - 190px);
  background-color: #EEE;
}
.alertadd {
  background-color: #EEE;
}
.container {
  background-color: #EEE;
  height: 100vh;
}
h1 {
  color: rgb(49, 48, 48);
}