body {
  background-color: #EEE;
}
.add {
  height: calc(100vh - 160px);
  padding-top: 13px;
}
.add2 {
  height: calc(100vh - 216px); 
  padding-top: 13px;
}
.edit2 {
  height: calc(100vh - 216px);
}
.content {
  height: calc(100vh - 190px);
  background-color: #EEE;
}
.alertadd {
  background-color: #EEE;
}
.container {
  background-color: #EEE;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.lists {
  margin-bottom: -41px;
}
section h1.edits {
  margin-bottom: -13px;
  margin-top: 20px;
}

h1 {
  color: rgb(49, 48, 48); 
}
footer {
  background-color: rgb(51, 53, 54);
  margin-block-start: auto;
}